Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-Bcrypt==1.0.1
Flask-Migrate==4.0.7
Flask-WTF==1.2.1
WTForms==3.1.2
python-dotenv==1.0.1
ibm-watsonx-ai>=1.1.9
requests==2.32.3
Pillow==10.4.0
email-validator==2.2.0
SQLAlchemy==2.0.31
Werkzeug==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
click==8.1.7
blinker==1.8.2
gunicorn==22.0.0
psycopg2-binary==2.9.9
